<div *ngIf="!groups; else loggedOut" class="load">Loading...</div>
<ng-template #loggedOut>
  <div class="block">
    <div>
      <div class="bList">
        <div class="header">GROUPS</div>
        <div class="item" *ngFor="let gs of groups">
          <div routerLink="group/{{gs.id}}">{{gs.name}}</div>
          <div class="batonED" (click)="setForm(gs, 'EDIT')">🖉</div>
          <div class="batonED">✖</div>
        </div>
      </div>
      <div [ngStyle]="{'margin-top': '7%'}">
        <button class="baton" (click)="setForm(undefined,'CREATE')">ADD NEW GROUP</button>
      </div>
    </div>
  </div>
</ng-template>

<div class="backModal" *ngIf="edit">
  <div class="block">
    <div class="formS">
      <div class="header">{{title}}</div>
      <form class="formS" [formGroup]="form" (submit)="confirm()" class="flex flex-col gap-4">
        <input class="inp" formControlName="name" placeholder="Name Group">
        <div [ngStyle]="{'justify-content': 'space-around','display': 'flex'}">
          <button class="baton" type="submit" [ngStyle]="{'font-size': '150%', 'padding': '0px 10px', 'margin-top': '1%'}">
            OK
          </button>
          <button class="baton" (click)="clearForm()" [ngStyle]="{'font-size': '150%', 'padding': '0px 10px', 'margin-top': '1%'}">
            CLOSE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

