.block {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.bList {
    border: 10px solid #972121;
    flex-grow: 0.1;
    border-radius: 2em;
    box-shadow: 00px 10px 20px rgba(0, 0, 0, 0.341);

}
.header {
    text-align: center;
    background-color: #972121;
    color: white;
    font-size: 200%;
    padding: 15px 40px 10px 40px;
    margin-bottom: 6%;
}
.item {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-size: 150%;
    margin-bottom: 3%;
    color: #972121;

}
.item:hover {
    color: #ffa000;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    font-size: 180%;
}
.baton{
    text-align: center;
    background-color: #972121;
    color: white;
    font-size: 150%;
    padding: 15px 40px 10px 40px;
    margin-bottom: 6%;
    border-radius: 2em;
    border-color: #00000000;
    box-shadow: 00px 10px 20px rgba(0, 0, 0, 0.341);
}
.baton:hover{
    background-color: white ;
    color: #972121;
    border-color: #972121;
    cursor: pointer;
}
.load{
    text-align: center;
    background-color: #972121;
    color: white;
    font-size: 150%;
    padding: 15px 40px 10px 40px;
    margin:2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2em;
    border-color: #00000000;
    box-shadow: 00px 10px 20px rgba(0, 0, 0, 0.341);
}