<div *ngIf="!group; else loggedOut" class="load">Loading...</div>
<ng-template #loggedOut>
    <div class="block">
        <div>
            <button class="baton" routerLink=""
                [ngStyle]="{'font-size': '200%', 'padding': '0px 10px', 'margin-top': '5%'}">
                🢠
            </button>
        </div>
        <div>
            <div *ngIf="group" class="bList">
                <div class="header">
                    <div>{{group.name}}</div>
                    <div class = "batonEDH" (click)="edit=true">🖉</div>
                </div>
                <div class="item" *ngFor="let s of group.students">
                    <div routerLink="/student/{{s.id}}">{{s.name}}</div>
                    <div class="batonED" (click)="edit2=true; student=s">🖉</div>
                    <div class="batonED">✖</div>
                </div>
            </div>
            <div [ngStyle]="{'margin-top': '7%'}">
                <button class="baton" (click)="create=true">ADD NEW STUDENT</button>
                <!-- (click)="setForm2(undefined,'CREATE')" -->
            </div>
        </div>
    </div>
</ng-template>


<div  *ngIf="edit">
  <app-group-modal [group]="group" title="EDIT" (event)="close()"/>
</div>
<div  *ngIf="edit2">
  <app-student-modal [student]="student" title="EDIT" (event)="close()"/>
</div>
<div  *ngIf="create">
  <app-student-modal title="CREATE" (event)="close()"/>
</div>
<!-- modalStudent -->
  <!-- <div class="backModal" *ngIf="edit2">
    <div class="block">
      <div class="formS">
        <div class="header">{{title}}</div>
        <form class="formS" [formGroup]="formS" (submit)="confirm()" class="flex flex-col gap-4">
          <input maxlength=16 class="inp" formControlName="name" placeholder="Name Student">
          <input class="inp" formControlName="number" placeholder="Number">
        </form>
      </div>
    </div>
    <div class="Mbaton">
      <button class="baton" type="submit" [ngStyle]="{'font-size': '150%', 'padding': '0px 10px', 'margin-top': '1%'}">
        OK
      </button>
      <button class="baton" (click)="clearFormS()" [ngStyle]="{'font-size': '150%', 'padding': '0px 10px', 'margin-top': '1%'}">
        CLOSE
      </button>
    </div>
  </div> -->
